/* Add these styles for success and failure messages */
.toast-msg {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 10%;
}

.success-msg {
  background-color: #4CAF50; /* Background color for success */
}

.failed-msg {
  background-color: #D9534F; /* Background color for failure */
}

.toast-msg i {
  margin-right: 10px;
}





/* ////////////// Header ///////////////// */


.page-title {
  position: relative;
    display: flex;
    transition: all 300ms ease;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .page-title h1 {
    margin-right: auto;
    font-weight: 700;
    font-size: 28px;
    margin-left: auto;
    text-align: center;
    width: 100%; 
}

  .page-title-fixed {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
  }
  
  .page-title-over {
    z-index: 99;
  }
  
  .page-title-icon {
    position: fixed;
    top: 20px; 
    right: 15px; 
    z-index: 99;
    height: 38px;
    width: 38px;
    line-height: 39px;
    border-radius: 16px;
    text-align: center;
  }
  
  .shadow-xl {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.712), 0 5px 15px 0 rgba(0, 0, 0, 0.384) !important;
  }
  
  .font-22 {
    font-size: 22px;
    color: #0f1117;
    text-align: center;
  }
  
  .color-yellow-dark {
    color: #f6bb42 !important;
  }
  
  /* Default styles for both themes */
  body {
    transition: background-color 0.3s ease;
    background-color: #76767600;
    margin-top: 120px;
  }
  
  /* Dark theme styles */
  body.theme-dark {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  body.theme-dark .bg-theme {
    background-color: #0f1117 !important;
  }
  
  body.theme-dark .font-22 {
    color: #fff;
  }
  
  body.theme-dark .microphone-black {
    display: none;
  }
  
  
  /* Light theme styles */
  body.theme-light {
    background-color: #fff;
  
  }
  
  body.theme-light .bg-theme {
    background-color: #f0f0f0 !important;
  }











  /* /////////////////////////////////////////// */

  .theme-dark .bg-theme {
    background-color: #0f1117 !important;
  }

  .background-changer .bg-theme {
    border: solid 1px rgba(0, 0, 0, 0.2);
  }

  .theme-dark .bg-theme {
    background-color: #0f1117 !important;
  }

  .theme-light .bg-theme {
    background-color: #FFF !important;
  }
  
  .theme-light .color-theme {
    color: #0f1117 !important;
  }
  
  .theme-dark .color-theme {
    color: #FFF !important;
  }

  .theme-dark .color-theme,

  .back-button {
    position: absolute;
    left: 10px; 
    
  }

  p {
    margin: 10px 0;;
}




/* /////////////////////////////////////////// */



/*Extending Cards Features*/


.card {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-size: cover;
  border: 0px !important;
  max-height: 150000px;
  margin-bottom: 30px;
  background-position: center center !important;
}

.cover-slider .card {
  margin-bottom: 0px !important;
}

[data-card-height=cover].card {
  margin-bottom: 0px !important;
}

.card-style {
  overflow: hidden;
  margin: 0px 15px 30px 15px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
}
.card-style .card-body {
  padding: 15px;
}

.card-style .card-overlay {
  border-radius: 20px;
}

.card-style-full {
  margin-left: 0px;
  margin-right: 0px;
}

.card-body {
  z-index: 2;
}

.card-header {
  z-index: 2;
}

.card-footer {
  z-index: 2;
}

.card-top {
  z-index: 2;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}

.card-bottom {
  z-index: 2;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.card-center {
  z-index: 2;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.card-overlay {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 1;
}

.card-image {
  display: block;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.card-image img {
  transition: all 450ms ease;
}

.card-fixed {
  position: fixed;
  left: 0px;
  right: 0px;
}

.card-clear {
  pointer-events: none;
  margin-bottom: -30px;
  opacity: 0;
}

.card-overflow {
  overflow: visible !important;
  z-index: 20;
}

[data-card-height] p {
  padding-bottom: 0px;
}

.centered-heading {
  text-align: center;
  text-transform: uppercase;
}

.menu .input-style input,
.menu .input-style select {
  background-color: transparent !important;

/*Menu Update*/
#menu-update {
  background-color: #FFF;
  position: fixed;
  z-index: 9999;
  width: 310px;
  height: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  transition: all 300ms ease;
}

.menu-active {
  opacity: 1 !important;
}

.menu-active-no-click {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: all !important;
}

#menu-install-pwa-ios {
  overflow: visible !important;
}

.fa-ios-arrow {
  transform: translateY(4px);
}

.theme-light .fa-ios-arrow {
  color: #FFF !important;
}

.menu-open {
  overflow: hidden !important;
}

